/* .descButton {
    border: none;
    padding-right: 3%;
    margin: auto;
    height: 100px;
    background-color:#57e6ff;
    border-radius: 10%;
    
  } */
  
  /* .descButton:hover {
    background-color: #00BFFF;
  } */
  
  .aboutpage-cards {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    text-align: center;
    color:white ;
    
  }
  
  .aboutpage-card {
    display: flex;
    justify-self: center;
    background-color:#1e8046;
  
  }
 
  h1{
    color:white ;
    background-color:#1e8046;
  }

  h3{
    background-color:red;
    color:white;
    text-align: center;
    
  }
  

 

