body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./backgroung.jpg);
  
}  
/* cards{
  display: flex;
  justify-self: center;
  margin: 10px;
  min-height: 200px;
  max-width: 22rem;
}

img {
  width: 200px;
  height: 200px;
} */

 
  



  
  